body {
  background: #ffdef6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Pacifico", cursive;
}

.envelope-wrap {
  text-align: center;
  cursor: pointer;
  
}

.envelope {
  width: 200px;
  height: 130px;
  background: #fff;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  overflow: hidden;
}

.flap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #f7b2ff;
  clip-path: polygon(0 0, 100% 0, 50% 60%);
  transform-origin: top;
  transition: transform 1s ease;
}

.letter {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  opacity: 0;
  transition: opacity 0.5s ease 0.5s;
}

.envelope.open .flap {
  transform: rotateX(180deg);
}

.envelope.open .letter {
  opacity: 1;
}

p {
  margin-top: 15px;
  color: #ff4fa3;
}
